<div id="bg"></div>
<!-- BaiDu -->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb65b3ffc3fd0d14c968e1036793e631b' type='text/javascript'%3E%3C/script%3E"));
    $(function(){$('img[src="http://eiv.baidu.com/hmt/icon/21.gif"]').hide();});
</script>
</body>
</html>