<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=divce-width,initial-scale=0.7,user-scalable=yes" />
    <meta name="description" content="前端、BlueSun、JerryC">
    <meta name="keywords" content="前端,BlueSun，JerryC，博客">
    <title><%=title%></title>
    <link rel="shortcut icon" href="images/avatar.jpg">

    <!-- CSS -->
    <link href="css/base.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/lab.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Js -->
    <script type="text/javascript" charset="utf-8" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/common.js"></script>

</head>
<body>
<div id="nav">
    <ul>
        <li class="nav_home">
            <a href="index.html">
                <span class="icon-home"></span>
                <span>首页</span>
            </a>
        </li>
        <li class="nav_blog">
            <a href="blog.html">
                <span class="icon-blog"></span>
                <span>博客</span>
            </a>
        </li>
        <li class="nav_lab">
            <a href="lab.html">
                <span class="icon-lab"></span>
                <span>实验室</span>
            </a>
        </li>
        <li class="nav_notes">
            <a href="notes.html">
                <span class="icon-notes"></span>
                <span>笔记</span>
            </a>
        </li>
        <li class="nav_me">
            <a href="aboutme">
                <span class="icon-aboutme"></span>
                <span>About Me</span>
            </a>
        </li>
    </ul>
</div>
<div id="nav_arc">
    <ul>
        <li class="arc_home"><a href="index.html"><span class="icon-home"></span></a></li>
        <li class="arc_blog"><a href="blog.html"><span class="icon-blog"></span></a></li>
        <li class="arc_lab"><a href="lab.html"><span class="icon-lab"></span></a></li>
        <li class="arc_notes"><a href="notes.html"><span class="icon-notes"></span></a></li>
        <li class="arc_me"><a href="aboutme"><span class="icon-aboutme"></span></a></li>
    </ul>
</div>