<%- include /header.ejs%>
<div id="main">
    <div class="favicon"></div>
    <div class="description"><p>前端是个浪漫的职业，一个激情的职业，不断学习，不断超越自我。</p></div>
    <div class="cut-off-rule"></div>
    <div class="content">
        <ul class="ch-grid">
            <li>
                <a href="/blog.html">
                    <div class="ch-item ch-img-1">
                        <div class="ch-info">
                            <h3>Blog</h3>
                            <P>博客</P>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/lab.html">
                    <div class="ch-item ch-img-2">
                        <div class="ch-info">
                            <h3>Lab</h3>
                            <P>实验室</P>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/notes.html">
                    <div class="ch-item ch-img-3">
                        <div class="ch-info">
                            <h3>Notes</h3>
                            <P>笔记</P>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/aboutme.html">
                    <div class="ch-item ch-img-4">
                        <div class="ch-info">
                            <h3>About Me</h3>
                            <P>关于我</P>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<%- include footer.ejs%>