@charset "UTF-8";

@media screen and (max-width:1960px) {
    .labList {
        width:1600px;
    }
}
@media screen and (max-width:1640px) {
    .labList {
        width:1280px;
    }
}
@media screen and (max-width:1320px) {
    .labList {
        width:960px;
    }
}
@media screen and (max-width:1000px) {
    .labList {
        width:640px;
    }
    .articleItem_label{
        display: none;
    }
    #nav{
        display: none;
    }
    #nav_arc>ul {
        z-index:100;
        position:fixed;
        right:20px;
        bottom:20px;
        width:60px;
        height:60px;
        line-height:40px;
        list-style-type:none;
        marign:0;
        padding:0;
        text-align:center;
        color:#FFF;
        cursor:pointer;
    }
    #nav_arc>ul>li, #nav_arc>ul:after {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        border-radius:50%;
        background-color:darkgray;
        background-size: 65%;
        background-position:center;
        background-repeat: no-repeat;
    }
    #nav_arc>ul>li {
        transition:all .5s;
    }
    #nav_arc>ul:after {
        content: "\e606";
        z-index:1;
        position: absolute;
        background-size: 85%;
        background-color:darkgray;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size:33px;
        display: inline-block;
        text-align: center;
        line-height: 60px;
        color: black;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    #nav_arc ul {
        border-radius:50%;
        z-index:101;
    }
    #nav_arc a{
        height: 100%;
        width: 100%;
        display: block;
    }
    #nav_arc [class^="icon-"], #nav_arc [class*=" icon-"]{
        line-height: 60px;
        color: black;
        font-size: 33px;
    }
    .github-link{left:0}
}

@media screen and (max-width:794px){
    .articleList{
        width: auto;
    }
    .blog_addMore{
        width:334px;
    }
    .ch-grid li {
        width: 200px;
        height: 200px;
    }
    .ch-info{
        width:200px;
        height:200px;
        top:-20px;
    }
}
@media screen and (max-width:680px) {
    .labList {
        width:320px;
    }
}