@charset "UTF-8";
/**
 * 
 * @authors JerryC
 * @date    2014-04-05 22:44:45
 * @version 1.0
 */

.main{
	width: 400px;
	padding: 30px;
	border: 1px solid gray;
	border-right: 3px solid gray;
	border-bottom: 3px solid gray;
	margin: 100px auto;
}